@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Overlay */
.overlay {
  background-color: #57595d;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
}

.overlay a {
  position: relative;
  text-align: center;
  display: block;
}

.close-toggle {
  position: relative;
  width: 30px;
}
