@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

body {
  margin: 0;
}

a {
  text-decoration: none;
  font-family: 'Italiana';
}

ul {
  list-style: none;
}

/* Landing Section */
.landing {
  height: 100vh;
  display: flex;
  background: url(../img/grey-slate-background-darkened.jpg);
}

.menu {
  flex: 1;
}

.menu-image {
  flex: 1;
}

.menu-image img {
  height: 100%;
}

/* Overlay */
.overlay {
  background-color: #57595d;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; display: grid;}
    to   { opacity: 1; }
}


.overlay ul {
    margin: 25% 0 0;
    padding: 0;
}

.overlay a {
  position: relative;
  text-align: center;
  display: block;
  color: #cfcece;
  font-size: 2rem;
  font-weight: 800;
}

.overlay a:hover {
    font-size: 2.1rem;
    color: #ff9900;

}

.close-toggle {
  position: relative;
  width: 30px;
}